* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 1550px;
    height: auto;
    margin-left: 10px;
}
#resultado, #resultadoMedia {
    width: 150px;
    height: 33px;
    background-color: rgb(226, 226, 226);
    text-align: end;
    text-orientation: right;
    font-size: 25px;
    border: solid  rgb(173, 172, 172) 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 80px;
    padding-right: 10px;
}

#resultadoDesconto, #resultadoDesconto2 {
    width: 150px;
    height: 33px;
    background-color: rgb(226, 226, 226);
    text-align: end;
    text-orientation: right;
    font-size: 25px;
    border: solid  rgb(173, 172, 172) 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 143px;
    padding-right: 10px;
}

#resultadoSaldo, #resultadoParcelas {
    width: 150px;
    height: 33px;
    background-color: rgb(226, 226, 226);
    text-align: end;
    text-orientation: right;
    font-size: 25px;
    border: solid  rgb(173, 172, 172) 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 130px;
    padding-right: 10px;
}

#p1 {
    margin-top: 11px;
    margin-left: 5px;
    margin-bottom: 10px;
    position: absolute;
}

input {
    border: solid rgb(197, 195, 195) 2px;
    width: 120px;
    border-radius: 7%;
}

input:focus {
    outline-color: rgb(0, 132, 255);
}

#p2 {
    margin-top: 15px;
}

button {
    border: solid rgb(179, 179, 179) 2px;
    background-color: solid rgb(230, 230, 230);
    width: 65px;
    margin-left: 5px;
    margin-top: 10px;
}

#btn {
    margin-left: 1px;
}

hr {
    border: rgb(0, 0, 0) solid 1px;
    margin: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#percentual {
    width: 170px;
}

table {
    border: rgb(0, 0, 0) solid 2px;
    font-size: 16px;
    margin-left: 35%;
    margin-right: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tabela, #tabela1, #tabela2, #tabela3, #tabela4 {
    background-color: rgb(214, 214, 214);
}

#tr {
   background-color: rgb(223, 223, 223);
}

#lista {
  
    margin: 0px;
    text-align: center;
}

td {
    padding-left: 5px;
}